<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Dashboard</h1>
    <% if (user) {%>
    <p>
      Selamat datang, <%= user.username %>! Anda login sebagai <%= user.role%>.
    </p>
    <ul>
      <li>
        <a href="/exercise">Latihan</a>
      </li>
      <% if (user.role === 'admin') { %>
      <li><a href="/topics">Edit topic</a></li>
      <% } %>
    </ul>
    <a href="/logout">Logout</a>
    <% } else {%>
    <p>Kamu belum login, silahkan <a href="/login">Login</a></p>
    <% } %>
  </body>
</html>
