<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQ</title>
  </head>
  <body>
    <div>
      <details>
        <summary>Apa itu MentorAI?</summary>
        <p>
          MentorAI merupakan aplikasi berbasis web yang dirancang untuk membantu
          siswa dalam proses belajar dengan memberikan umpan balik setelah siswa
          menjawab sebuah soal. Umpan balik ini diberikan berdasarkan jawaban
          siswa terhadap soal-soal yang sudah diberikan.
        </p>
      </details>
      <details>
        <summary>Apa tujuan dibuatnya aplikasi ini?</summary>
        <ul>
          <li>
            Memberikan umpan balik yang tepat waktu dan relevan kepada siswa.
          </li>
          <li>Membantu siswa memahami materi pelajaran dengan lebih baik.</li>
        </ul>
      </details>
      <details>
        <summary>Bagaimana cara kerja aplikasi ini?</summary>
        <ol>
          <li>
            Siswa mengerjakan soal-soal latihan yang disediakan dalam aplikasi.
          </li>
          <li>
            Sistem akan mengoreksi jawaban siswa dan memberikan umpan balik yang
            sesuai.
          </li>
          <li>
            Jika jawaban siswa benar, aplikasi akan memberikan saran dan
            petunjuk untuk membantu siswa memahami materi lanjutan.
          </li>
          <li>
            Jika jawaban siswa salah, aplikasi akan membimbing siswa untuk
            menemukan jawaban yang benar.
          </li>
        </ol>
      </details>
      <details>
        <summary>Siapa yang Dapat Menggunakan Aplikasi Ini?</summary>
        <p>
          Aplikasi ini dapat digunakan oleh siswa dari berbagai tingkatan, mulai
          dari sekolah dasar hingga sekolah menengah atas. Aplikasi ini juga
          dapat digunakan oleh guru untuk membantu mereka dalam proses
          pembelajaran.
        </p>
      </details>
      <details>
        <summary>Bagaimana cara menggunakan aplikasi Ini?</summary>
        <ul>
          <li>
            Buku petunjuk penggunaan untuk guru/admin dapat diunduh pada
            <a
              target="_blank"
              href="https://drive.google.com/file/d/1dk-OW8_h8me6Wjr2mW3jUjPBGEP72diO/view?usp=sharing"
              >link ini</a
            >
          </li>
          <li>
            Buku petunjuk penggunaan untuk siswa dapat diunduh pada
            <a
              target="_blank"
              href="https://drive.google.com/file/d/1bvt0F0u_oe3FGP3FonWc46CosFkd7oBq/view?usp=sharing"
              >link ini</a
            >
          </li>
        </ul>
      </details>
    </div>
  </body>
</html>
