<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daftar Akun Siswa</title>
  </head>
  <body>
    <h1>Daftar Akun Siswa</h1>
    <% if(error) { %>
    <p style="color: red"><%= error %></p>
    <% } %>

    <form action="/register" method="POST">
      <label>Username: </label><br />
      <input type="text" name="username" required /><br />
      <label>Password: </label><br />
      <input type="password" name="password" required /><br />
      <label>Konfirmasi Password: </label>
      <input type="password" name="confirmPassword" required /><br /><br />
      <button type="submit">Daftar</button>
    </form>
    <p>Sudah punya akun? <a href="/login">Login</a></p>
  </body>
</html>
